@import "tailwindcss";

body {
  background: #000;
}

@keyframes float {
  0% { transform: translateY(0px);}
  50% { transform: translateY(-12px);}
  100% { transform: translateY(0px);}
}
.skill-float {
  animation: float 3s ease-in-out infinite;
}

@media (max-width: 1023px) {
  a, button, input, textarea {
    touch-action: auto !important;
    pointer-events: auto !important;
  }
}